{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('css/caroussel.css')}}">
{% endblock %} 


 <div class="carousel-container">
    <div class="carousel">
        <button id="prevButton" class="button"><img src="{{ asset('assets/icons/navigate.svg') }}" alt="Précédent"></button>

        {% for pensionnaire in pensionnaires %}
        <a href="{{ path('app_carousel', { 'id': pensionnaire.id }) }}">
        <img src="{{ asset('assets/uploads/images/' ~ pensionnaire.getImagePensionnaire()) }}" alt="carousel-img" class="carousel-img" />
    </a>
        {% endfor %}
        

        <button id="nextButton" class="button"><img src="{{ asset('assets/icons/navigate.svg') }}" alt="Suivant"></button>
    </div>
</div>




<div id="positionIndicator"></div>