{% extends 'base.html.twig' %}

{% block title %}Refuge de St brès pour équidés{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('css/cards.css')}}">
    <link rel="stylesheet" href="{{asset('css/index.css')}}">
{% endblock %}


{% block body %}

<div class="wrapper">
{% include 'components/header.html.twig' %}
<div class="aside">
{% include 'components/aside.html.twig'%}
</div>
        
<main class="main">
    <h2>Découvrez nos petits protégées</h2>

        {% for pensionnaire in pensionnaires %}
        <div class="cards">
            <img src="{{ asset('assets/uploads/images/' ~ pensionnaire.getImagePensionnaire()) }}" alt="carousel-img" class="card" />
        <img src="{{ asset('assets/cards/Halfen.png') }}" alt="card-img"  class="card"/>
        <img src="{{ asset('assets/cards/Jappeloup.png') }}" alt="card-img" class="card" />
        <img src="{{ asset('assets/cards/Jesty.png') }}" alt="card-img"  class="card"/>
        <img src="{{ asset('assets/cards/Jojo.png') }}" alt="card-img"  class="card"/>
        <img src="{{ asset('assets/cards/Julie.png') }}" alt="card-img"  class="card"/>
        <img src="{{ asset("assets/cards/Lenthier d'Y.png") }}" alt="card-img" class="card" />
        <img src="{{ asset('assets/cards/Léon.png') }}" alt="card-img"  class="card"/>
        <img src="{{ asset('assets/cards/Lila.png') }}" alt="card-img"  class="card"/>
        <img src="{{ asset('assets/cards/Mambo.png') }}" alt="card-img"  class="card"/>
        <img src="{{ asset('assets/cards/Mistral.png') }}" alt="card-img" class="card" />
        <img src="{{ asset('assets/cards/Ninja.png') }}" alt="card-img"  class="card"/>
        <img src="{{ asset('assets/cards/Pepsi.png') }}" alt="card-img"  class="card"/>
        <img src="{{ asset('assets/cards/Petite fleur.png') }}" alt="card-img" class="card" />
        <img src="{{ asset("assets/cards/Qaida.png") }}" alt="card-img"  class="card"/>
        <img src="{{ asset('assets/cards/Rolls.png') }}" alt="card-img" class="card" />
        <img src="{{ asset("assets/cards/Tommy.png") }}" alt="card-img" class="card" />
        <img src="{{ asset('assets/cards/Zoé.png') }}" alt="card-img" class="card" />
    </div>  
{% endfor %}
    {% include 'components/carousel.html.twig'%}
</main>

{% include 'components/footer.html.twig' %}   
</div>

{% endblock %}